@page "/counter"
@rendermode InteractiveServer
@using BlazorBootstrap;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Icon Name="IconName.Facebook" Size="IconSize.x2" Color="IconColor.Primary" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
