@page "/"
@using SuperShop.Components.Layout
@using SuperShop.Services
@inject UserService UserService
@inject NavigationManager Nav
@rendermode InteractiveServer


@layout BlankLayout




    <style>
        body {
            background-color:cadetblue;
            height: 100vh;
        }

        .login-box {
            width: 100%;
            max-width: 400px;
            margin: auto;
            margin-top: 10%;
        }

        .card {
            border: none;
            border-radius: 15px;
        }

        .btn-custom {
            background: #4e54c8;
            color: white;
        }

            .btn-custom:hover {
                background: #3b40a4;
            }
    </style>



    <div class="container">
        <div class="login-box">
            <div class="card shadow-lg p-4">

                <h3 class="text-center mb-4">User Login</h3>

                <form>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                    <input type="text" @bind="username" class="form-control" placeholder="Enter username">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                    <input type="password" @bind="password" class="form-control" placeholder="Enter password">
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <input type="checkbox"> Remember me
                        </div>
                    <a href="/Signup" class="text-decoration-none">Forgot password?</a>
                    </div>

                <button type="submit" @onclick="LoginUser" class="btn btn-custom w-100">
                        Login
                    </button>
                </form>


            <br />
            <br />
            <label style="text-align:right">
                <span style="@(vCode == "1" ? "color:green;" : vCode == "2" ? "color:#ff8f00;" : "color:red;")">@vMsg</span>
            </label>


            </div>
        </div>
    </div>



@code {
    string username;
    string password;
   
    string vCode = "";
    string vMsg = "";

    void LoginUser()
    {
        if (UserService.Login(username, password))
        {
            Nav.NavigateTo("/Home", true);

            // switch (UserService.Role)
            // {
            //     case "SuperAdmin":
            //         Nav.NavigateTo("/Shop");
            //         break;
            //     case "ShopAdmin":
            //         Nav.NavigateTo("/Product");
            //         break;
            //     case "POS":
            //         Nav.NavigateTo("/POS");
            //         break;
            //     case "Accountant":
            //         Nav.NavigateTo("/Cash");
            //         break;
            //     default:
            //         // Invalid role
            //         break;
            // }
        }
        else
        {
            // Show login failed message
        }
    }
}
