@inherits LayoutComponentBase

@* 
<div style="margin: 0px auto; padding-top: 50px;">
    @Body
</div>
 *@
@* <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
 *@
<div class="blank-layout">
    @Body
</div>

