@using BlazorBootstrap

@using SuperShop.Models
@using SuperShop.Services

@using BlazorBootstrap.Components



@inject UserService UserService
@inject NavigationManager Nav


@rendermode InteractiveServer



 <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartShop </a>
        @* <span> <i class="bi bi-shop" href="/"></i></span>SuperShop *@
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
       @*  @foreach(var a in list)
        {
            
        } *@

         @if (UserService.Role == "SuperAdmin")
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Shop">
                    <span> <i class="bi bi-collection"></i></span>Shop
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Subscription">
                    <span> <i class="bi bi-subtract"></i></span>Shop Subscription
            </NavLink>
        </div>
        }
        @if (UserService.Role == "ShopAdmin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Product">
                    <span> <i class="bi bi-cart-plus"></i></span>Product

                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Purchase">
                    <span> <i class="bi bi-bag-fill"></i></span> Purchase

                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Stock">
                    <span> <i class="bi bi-box-seam"></i></span> Stock
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Sales">
                    <span> <i class="bi bi-receipt"></i></span> Sales
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Staff">
                    <span> <i class="bi bi-person-raised-hand"></i></span> Staff
                </NavLink>
            </div>
        }
        @if (UserService.Role == "POS")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="POS">

                    <span> <i class="bi bi-credit-card-fill"></i></span> POS
                </NavLink>
            </div>
          
        }
        @if (UserService.Role == "Accountant")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Cash">
                    <span> <i class="bi bi-cash"></i></span> Cash
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Bank">
                    <span> <i class="bi bi-bank"></i></span> Bank
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Ledger">
                    <span> <i class="bi bi-sticky"></i></span> Ledger
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profitloss">
                    <span> <i class="bi bi-cash-coin"></i></span> profitloss
                </NavLink>
            </div>

        }
        <div class="nav-item px-3">
             <NavLink class="nav-link" href="" @onclick="Logout">

                <span> <i class="bi bi-box-arrow-right"></i></span> Logout
             
                </NavLink> 
         
        </div>
       
    </nav>

</div> 
 

@code {
    // void Logout()
    // {
    //    // UserService.Logout();
    //     Nav.NavigateTo("/", true);

    //    // Nav.NavigateTo("/Logout", true);

    //     //StateHasChanged();
    // }


    protected async Task Logout()
    {
        try
        {
            // await Task.Delay(TimeSpan.FromMinutes(500));
            // Nav.NavigateTo("/Logout", true);
            Nav.NavigateTo("/");
            
        }
        catch (Exception ex)
        {

        }

    }
}
 